@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

button {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

nav {
    position: sticky;
}

#nav {
    border-top: 0.01px solid rgb(192, 190, 190);
    border-bottom: 0.01px solid rgb(192, 190, 190);
    display: flex;
    align-items: center;

}

#nav {
    padding: 8px;
}

#nav>img {
    width: 150px;
    margin-left: 25px;
}

#nav>.vl {
    height: 40px;
    border-right: 0.1px solid rgb(167, 166, 166);
    margin-left: 30px;
}

#Searchbar {
    display: flex;
    border: 0.1px solid rgb(167, 166, 166);
    width: 500px;
    height: 45px;
    border-radius: 30px;
    align-items: center;
    justify-content: space-between;
    padding-right: 4px;
    margin-left: 120px;
}

#address {
    margin-left: 30px;
}

#searchbtn {
    border-radius: 20px;
    padding: 10px 20px;
    border: 0;
}

#Searchbar>div>img {
    width: 30px;
}

.pointer {
    cursor: pointer;
}

#Searchbar>div {
    display: flex;
    align-items: center;
}

#Searchbar>div>input {
    width: 300px;
    height: 40px;
    border: 0;
}

#Searchbar>div>input:focus {
    outline: none;
}

#login {
    margin-left: 70px;
    text-align: center;
}

#login>h5 {
    display: inline-block;
    margin-left: 7px;

}

#offericon {
    margin-left: 30px;
    text-align: center;
}

#offericon>h5 {
    display: inline-block;
    margin-left: 7px;

}

#carticon {
    margin-left: 30px;
    text-align: center;
}

#carticon>h5 {
    margin-left: 7px;
    display: inline-block;
}


#nav2 {
    border-bottom: 0.01px solid rgb(192, 190, 190);
}

#nav2>div {
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
}

#categories {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    text-align: center;
    gap: 50px;

}

#categories img {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 0.1px solid rgb(211, 209, 209);
}

#categories p {
    color: red;
    font-size: small;
    margin-top: 10px;
    font-weight: bold;
}

#carousel1 {
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 60px;
    overflow: hidden;
    align-items: center;
}

#carousel1>img {
    width: 40%;
    border-radius: 15px;
    margin: 0 10px;
}

#carousel1>img:nth-child(1) {
    height: 225px;
}

.sliderbtn {
    position: absolute;
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
    background-color: rgb(52, 51, 51);
    cursor: pointer;
}

.forward {
    right: 30px;
}

#Labtest {
    margin: auto;
    width: 95%;
    margin-top: 70px;
}

#Thyrocare {
    margin-top: 10px;
    display: flex;
}

#Thyrocare>img {
    width: 100px;
}

#test {
    display: flex;
    height: 200px;
    overflow: hidden;
    margin-top: 30px;
}

#test>img {
    height: 100%;
    margin-right: 20px;
}

#offer {
    width: 95%;
    margin: auto;
    margin-top: 70px;
}

#offer>div {
    margin-top: 30px;
    display: flex;
    align-items: center;
    height: 80px;
}

#offer>div>div {
    width: 25%;
    display: flex;
    align-items: center;
    padding: 15px;
    border: 0.1px solid #adadad;
    border-radius: 10px;
    margin-right: 30px;
}

#offer>div>div>img {
    width: 50px;
    border-radius: 5px;
    margin-right: 20px;

}

.flex {
    display: flex;
}

#paymentoffer {
    width: 95%;
    margin: auto;
    margin-top: 70px;
}

#pacarousel {
    display: flex;
    margin-top: 30px;
    overflow: hidden;
    align-items: center;
}

#pacarousel>img {
    width: 35%;
    border-radius: 15px;
    margin: 0 10px;
}

#presBox {
    width: 95%;
    margin: auto;
    margin-top: 70px;
}

.block {
    display: block;
}

#presBox>div:nth-child(1) {
    width: 45%;
    background-color: powderblue;
    padding: 30px;

}

#presBox>div:nth-child(1)>div:nth-child(2) {
    margin-left: 30px;
}

#presBox>div:nth-child(1)>div:nth-child(2) button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #10847E;
    margin-top: 5px;
    color: white;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

#presBox>div:nth-child(2) {
    width: 55%;
    padding: 10px;
    background-color: floralwhite;
}

#presBox>div:nth-child(2)>h4 {
    margin-left: 50px 00px;
}

#presBox>div:nth-child(2)>div {
    margin-top: 20px;
}

#presBox>div:nth-child(2)>div>div {
    margin-left: 10px;
}

#presBox>div:nth-child(2)>div button {
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: none;
    background-color: rgb(81, 176, 144);
    border-radius: 5px;

}

/* Shop by Category */
#ShopByCat {
    width: 95%;
    margin: auto;
    margin-top: 70px;
}

#ShopByCat>div {
    display: flex;
    overflow: hidden;
}

#ShopByCat>div>div>div {
    display: flex;
    border: 1px solid red;
    width: 150px;
    height: 180px;
    border: 0.1px solid #adadad;
    border-radius: 10px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    cursor: pointer;
}

#ShopByCat>div>div>div>img {
    width: 80%;
}


#ShopByCat>div>div h4 {
    text-align: center;
    margin-top: 20px;
}

#Cat-fbtn1 {
    position: relative;
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
    background-color: rgb(52, 51, 51);
    cursor: pointer;
    bottom: 170px;
    left: 94%;
}

#Cat-bbtn1 {
    position: relative;
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
    background-color: rgb(52, 51, 51);
    cursor: pointer;
    bottom: 170px;
}

#plusMem {
    cursor: pointer;
    width: 100%;
}

#ShopByConcern {
    width: 95%;
    margin: auto;
}

#ShopByConcern>h2 {
    margin-top: 70px;
    margin-bottom: 20px;

}

#ShopByConcern>div {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    text-align: center;
    gap: 40px;
    margin-top: 30px;
}

#ShopByConcern>div>div>img {
    width: 100%;
    cursor: pointer;
}

#WCU {
    margin-top: 70px;
    width: 100%;
}

#AppBanner {
    margin-top: 70px;
    cursor: pointer;
    width: 100%;
    margin: auto;
}

footer {
    margin-top: 70px;
    padding: 50px 30px;
    background-color: #F2FFF8;

}

footer>div>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
    width: 75%;
}

footer>div>div>p {
    font-size: 15px;
}

footer>div>div:nth-child(2) {
    width: 30%;
}

footer>h3 {
    margin-top: 50px;
}

#Payapp {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    text-align: center;
    align-items: center;
}

#Payapp>img {
    margin-top: 30px;
    width: 40%;
}

.flex {
    display: flex;
}

input,
button {
    display: block;
}


/* Input Slider */


input:focus {
    outline: 0;
}

#login {
    cursor: pointer;
}

#Register {
    cursor: pointer;

}

#loginslide {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}
#loginslide>div{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
#result {
    display: none;
}

#loginclosebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    color: #F2FFF8;
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#firstname,#lastname{
    display: none;
}

#register{
    display: none;
}
#belowimg{
    padding: 10px 40px 10px 40px;
}

#firstname{
    width: 280px;
    height: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: auto;
    border: 1px solid #8897A2;
    margin-bottom: 20px;
    
}
input:focus{
    outline: none;
}

#lastname{
    width: 280px;
    height: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: auto;
    border: 1px solid #8897A2;
    margin-bottom: 20px;
}

#phone{
    width: 280px;
    height: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: auto;
    border: 1px solid #8897A2;
    margin-bottom: 20px;
}

#pass{
    width: 280px;
    height: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: auto;
    border: 1px solid #8897A2;
    margin-bottom: 20px;
}

#loginbtn{
    background-color: #10847E;
    width: 320px;
    height: 30px;
    padding: 20px 50px 30px 50px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    border: none;
    text-align: center;
    align-items: center;
    color: #F2FFF8;

}
#register{
    background-color: #10847E;
    width: 320px;
    height: 30px;
    padding: 20px 50px 30px 50px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;
    border: none;
    text-align: center;
    align-items: center;
    color: #F2FFF8;
}
#result{
margin-bottom: 20px;
}